Repository smartcontractkit/chainlink-solana, changes with the owners that CODEOWNERS names for each.
All owners: @smartcontractkit/bix-team, @smartcontractkit/qa, @smartcontractkit/devx

upgrade deps in integration tests
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/qa, @smartcontractkit/bix-team

moved files to new directory and removed unused file
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/bindings.go
  pkg/solana/chainreader/bindings_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/example_test.go
Owners: @smartcontractkit/bix-team

mod tidy
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/qa, @smartcontractkit/bix-team

Implement Basic GetLatestValue for Solana (#612)
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  pkg/solana/chain_reader.go
  pkg/solana/chain_reader_test.go
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/bindings.go
  pkg/solana/chainreader/bindings_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/codec/anchoridl.go
  pkg/solana/codec/duration.go
  pkg/solana/codec/solana.go
  pkg/solana/codec/solana_test.go
  pkg/solana/codec/testutils/circularDepIDL.json
  pkg/solana/codec/testutils/testIDL.json
  pkg/solana/codec/testutils/types.go
  pkg/solana/config/chain_reader.go
  sonar-project.properties
Owners: @smartcontractkit/bix-team, @smartcontractkit/qa

Add solana keystone-forwarder contract
  contracts/Anchor.toml
  contracts/Cargo.lock
  contracts/programs/keystone-forwarder/Cargo.toml
  contracts/programs/keystone-forwarder/Xargo.toml
  contracts/programs/keystone-forwarder/src/lib.rs
Owners: @smartcontractkit/bix-team

updates
  contracts/programs/keystone-forwarder/src/lib.rs
  shell.nix
Owners: @smartcontractkit/bix-team

Add Solana write capability
  go.mod
  go.sum
  pkg/monitoring/mocks/ChainReader.go
  pkg/monitoring/mocks/Metrics.go
  pkg/solana/capabilities/targets/write_target.go
  pkg/solana/capabilities/targets/write_target_test.go
  pkg/solana/chain.go
  pkg/solana/client/mocks/ReaderWriter.go
  pkg/solana/config.go
  pkg/solana/config/config.go
  pkg/solana/config/mocks/config.go
  pkg/solana/fees/mocks/Estimator.go
  pkg/solana/mocks/chain.go
  pkg/solana/mocks/txm.go
  pkg/solana/relay.go
  pkg/solana/txm/mocks/simple_keystore.go
Owners: @smartcontractkit/bix-team

Forwarder contract test
  contracts/programs/keystone-forwarder/src/lib.rs
  contracts/tests/forwarder.spec.ts
  contracts/tests/ocr2.spec.ts
Owners: @smartcontractkit/bix-team

Add Configuration for Encoding
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/codec/solana.go
  pkg/solana/codec/solana_test.go
  pkg/solana/config/chain_reader.go
  pkg/solana/config/chain_reader_test.go
  pkg/solana/config/testChainReader_invalid.json
  pkg/solana/config/testChainReader_valid.json
Owners: @smartcontractkit/bix-team

BCF-3015 Add Configuration for Encoding (#616)
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/codec/solana.go
  pkg/solana/codec/solana_test.go
  pkg/solana/config/chain_reader.go
  pkg/solana/config/chain_reader_test.go
  pkg/solana/config/testChainReader_invalid.json
  pkg/solana/config/testChainReader_valid.json
Owners: @smartcontractkit/bix-team

Convert Multiple Binding Calls to Parallel
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/account_read_binding_test.go
  pkg/solana/chainreader/bindings.go
  pkg/solana/chainreader/bindings_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
Owners: @smartcontractkit/bix-team

remove unnecessary constant
  pkg/solana/chainreader/account_read_binding.go
Owners: @smartcontractkit/bix-team

remove time import
  pkg/solana/chainreader/account_read_binding.go
Owners: @smartcontractkit/bix-team

BCF-3016 Convert Multiple Binding Calls to Parallel (#617)
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/account_read_binding_test.go
  pkg/solana/chainreader/bindings.go
  pkg/solana/chainreader/bindings_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
Owners: @smartcontractkit/bix-team

Update lockfiles, maybe this fixes the config load issue
  contracts/examples/hello-world/package.json
  contracts/examples/hello-world/yarn.lock
  contracts/yarn.lock
Owners: @smartcontractkit/bix-team

Add RPC Opts to Config and Pass to Binding
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/account_read_binding_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/config/chain_reader.go
  pkg/solana/config/chain_reader_test.go
  pkg/solana/config/testChainReader_valid.json
Owners: @smartcontractkit/bix-team

BCF-3055 Add RPC Opts to Config and Pass to Binding (#627)
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/account_read_binding_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/config/chain_reader.go
  pkg/solana/config/chain_reader_test.go
  pkg/solana/config/testChainReader_valid.json
Owners: @smartcontractkit/bix-team

wip - estimator framework
  pkg/solana/fees/block_history.go
  pkg/solana/fees/recent_fees.go
  pkg/solana/txm/txm.go
Owners: @smartcontractkit/bix-team

feat: autorun CI on dependency update PR
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

use composite action
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

fix: test dep updater - do not fail on first tidy attempt
  scripts/update-e2e.sh
Owners: @smartcontractkit/bix-team

feat: autorun CI on dependency update PR (#631)
  .github/workflows/open-pr.yml
  scripts/update-e2e.sh
Owners: @smartcontractkit/bix-team

add AWS OIDC permissions
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

CI: add AWS OIDC permissions (#632)
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

fix: configure git creds
  .github/workflows/dependency-updates.yml
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

move GATI token
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

fix permissions
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

github bot as author
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

fix: permissions
  .github/workflows/dependency-updates.yml
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

fix permissions + add author
  .github/workflows/dependency-updates.yml
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

remove: testing on push
  .github/workflows/dependency-updates.yml
Owners: @smartcontractkit/bix-team

move GATI token to end
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

fix: configure git creds (#633)
  .github/workflows/open-pr.yml
Owners: @smartcontractkit/bix-team

remove replace override + fix naming
  integration-tests/common/test_common.go
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/qa, @smartcontractkit/bix-team

testing SIMD tracking
  .github/workflows/dependency-updates.yml
Owners: @smartcontractkit/bix-team

testing SIMD tracking
  .github/workflows/dependency-updates.yml
Owners: @smartcontractkit/bix-team

test: skipping issue creation
  .github/workflows/dependency-updates.yml
Owners: @smartcontractkit/bix-team

split into separate workflow + run once a week
  .github/workflows/dependency-updates.yml
  .github/workflows/upstream-tracker.yml
Owners: @smartcontractkit/bix-team

add context
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  pkg/monitoring/source_envelope.go
  pkg/solana/cmd/chainlink-solana/main.go
  pkg/solana/config_digester.go
  pkg/solana/config_digester_test.go
  pkg/solana/config_tracker.go
  pkg/solana/monitor/balance.go
  pkg/solana/relay.go
  pkg/solana/report.go
  pkg/solana/report_fuzz_test.go
  pkg/solana/report_test.go
  pkg/solana/transmitter.go
  pkg/solana/txm/txm.go
Owners: @smartcontractkit/bix-team, @smartcontractkit/qa

SIMD Tracking (#641)
  .github/workflows/dependency-updates.yml
  .github/workflows/upstream-tracker.yml
Owners: @smartcontractkit/bix-team

CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# global ownership
* @smartcontractkit/bix-team

# e2e test ownership
/integration-tests @smartcontractkit/qa @smartcontractkit/bix-team

# gauntlet ownership
/gauntlet @smartcontractkit/devx @smartcontractkit/bix-team

# relayer ownership
/pkg @smartcontractkit/bix-team
